<section>
  <h1>Race results</h1>
  <ul id="race results">
    <li class="post"><date>04/08/2013</date> Brisbane Marathon 03:52:07</li>
    <li class="post"><date>08/06/2013</date> Mitchelton Parkrun* 5km <span class="pb">20:23</span></li>
    <li class="post"><date>18/05/2013</date> The North Face 100 50km 07:24:52</li>
    <li class="post"><date>28/04/2013</date> Mt Mee - Dayboro 42.7km 04:40:40</li>
    <li class="post"><date>09/02/2013</date> Mt Glorious 24km 02:31:19</li>
    <li class="post"><date>15/09/2012</date> Glasshouse 50km 06:07:15</li>
    <li class="post"><date>02/09/2012</date> Bridge 2 Brisbane 10km <span class="pb">48:14</span></li>
    <li class="post"><date>05/08/2012</date> Brisbane Marathon <span class="pb">03:30:31</span></li>
  </ul>
  <p>* Only PB parkruns are included to reduce clutter</p>
</section>
