<section>
  <h1>Race results</h1>
  <ul id="race results">
    <li class="post"><date>03/08/2014</date> Brisbane Marathon <span class="pb">03:25:11</span></li>
    <li class="post"><date>19/07/2014</date> <a href="/article/2014/07/21/completing-the-kokoda-challenge/">Kokoda Challenge</a> 20:28:53</li>
    <li class="post"><date>15/06/2014</date> <a href="/article/2014/06/16/you-dont-have-to-choose-between-endurance-and-speed/">City 2 South 14km</a> <span class="pb">1:00:12</span></li>
    <li class="post"><date>17/05/2014</date> <a href="/article/2014/05/19/race-report-the-north-face-100km/">North Face 100km</a> <span class="pb">17:51:14</span></li>
    <li class="post"><date>12/04/2014</date> <a href="/article/2014/04/13/race-report-pinnacles-2014/">Pinnacles 18km</a> <span class="pb">01:56:43</span></li>
    <li class="post"><date>06/04/2014</date> <a href="/article/2014/04/07/race-report-nerang-50km/">Nerang 50km</a> 06:27</li>
    <li class="post"><date>23/03/2014</date> <a href="/article/2014/03/26/twilight-half-race-report/">Twilight Half</a> <span class="pb">01:39:35</span></li>
    <li class="post"><date>22/02/2014</date> Mt Glorious 22km 02:43:47</li>
    <li class="post"><date>30/11/2013</date> Tour de Tamborine 15km 01:51:54</li>
    <li class="post"><date>16/11/2013</date> Beerwah @ Night 30km 03:31:41</li>
    <li class="post"><date>08/09/2013</date> Glasshouse 50km <span class="pb">05:41:40</span></li>
    <li class="post"><date>01/09/2013</date> Bridge 2 Brisbane 10km <span class="pb">45:25</span></li>
    <li class="post"><date>08/06/2013</date> Mitchelton Parkrun* 5km <span class="pb">20:23</span></li>
  </ul>
  <p>* Only parkruns that are PBs are included to reduce clutter.</p>
</section>
