<section>
  <h1>Race results</h1>
  <ul id="race results">
    <li class="post"><date>20/05/2017</date> <a href="/article/2017/07/12/ultra-trail-australia-2017/">Ultra Trail Australia 100km</a> 14:31:32</li>
    <li class="post"><date>30/04/2017</date> Pinnacles 18km 02:06:58</li>
    <li class="post"><date>19/02/2017</date> Mt Glorious 22km 02:46:21</li>
    <li class="post"><date>08/08/2016</date> Lake Manchester 22km 02:37:27</li>
    <li class="post"><date>29/05/2016</date> Brisbane Trail Marathon 05:56:14</li>
    <li class="post"><date>16/04/2016</date> Pinnacles 18km 01:56:30</li>
    <li class="post"><date>21/08/2015</date> <a href="/article/2015/08/23/ut3m-race-report-day-one/">UT4M 168km</a> - DNF, stopped after 113km and 34 hours</li> 
    <li class="post"><date>14/06/2015</date> Nerang 50km <span class="pb">06:17:28</span></li>
    <li class="post"><date>19/04/2015</date> <a href="/article/2015/04/23/race-report-numinbah-2-pollys-50km/">Numinbah 2 Pollys 50km</a> 06:38:07</li>
    <li class="post"><date>22/03/2015</date> Twilight (race stopped at 10km) 00:46:22</span></li>
    <li class="post"><date>08/03/2015</date> Mt Glorious 22km <span class="pb">02:40:29</span></li>
    <li class="post"><date>18/01/2015</date> Bunyaville Long Course 15km 01:40:13</li>
    <li class="post"><date>20/09/2014</date> Twilight Bay 10km 00:46:02</li>
    <li class="post"><date>13/09/2014</date> <a href="/article/2014/09/15/race-report-glasshouse-100km/">Glasshouse 100km</a> <span class="pb">12:36:00</span></li>
    <li class="post"><date>03/08/2014</date> <a href="/article/2014/08/03/race-report-brisbane-marathon-2014/">Brisbane Marathon</a> <span class="pb">03:25:11</span></li>
    <li class="post"><date>19/07/2014</date> <a href="/article/2014/07/21/completing-the-kokoda-challenge/">Kokoda Challenge</a> 20:28:53</li>
    <li class="post"><date>17/05/2014</date> <a href="/article/2014/05/19/race-report-the-north-face-100km/">North Face 100km</a> 17:51:14</li>
    <li class="post"><date>08/06/2013</date> Mitchelton Parkrun* 5km <span class="pb">20:23</span></li>
  </ul>
  <h1>Personal bests</h1>
  <ul id="personal bests">
    <li class="post">5km 20:23 Mitchelton Parkrun 08/06/2013</li>
    <li class="post">10km 45:25 Bridge 2 Brisbane 01/09/2013</li>
    <li class="post">21.1km 01:39:33 Twilight Half 23/03/2014</li>
    <li class="post">42.2km 03:25:11 Brisbane Marathon 03/08/2014</li>
    <li class="post">50km 05:52:27 Glasshouse 50 07/09/2013</li>
    <li class="post">100km 12:36:00 Glasshouse 100 13/09/2014</li>
  </ul>
</section>
