<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
      </button>
      <div class="collapse navbar-collapse">
        {% include custom/navigation.html %}
        {% if site.simple_search %}
          <form action="{{ site.simple_search }}" method="get" class="navbar-form navbar-left">
            <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
            <input type="text" name="q" results="0" placeholder="Search" class="search-query span2" />
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        {% endif %}
        {% if site.feedburner_url %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a style="padding: 7px 0 0 0;" href="{{ site.feedburner_url }}"><img src="{{ site.feedburner_img_url }}&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>            
          </li>
        </ul>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
